<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Artwork </title>
    <link rel="stylesheet" href="/css/style.css">
     <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playwrite+AU+QLD:wght@100..400&display=swap" rel="stylesheet">
</head>
<body class="light">
    <%- include('../partials/navbar') %>

    <main class="container">
        <h1 class="page-title">Edit Artwork</h1>

        <form action="/artworks/<%= artwork._id %>?_method=PUT" method="POST" enctype="multipart/form-data" class="form">
            <!-- Title -->
            <div class="form-group">
                <label for="title">Title:</label>
                <input type="text" id="title" name="title" value="<%= artwork.title %>" required>
            </div>

            <!-- Description -->
            <div class="form-group">
                <label for="description">Description:</label>
                <textarea id="description" name="description"><%= artwork.description %></textarea>
            </div>

            <!-- Current Image Preview -->
            <div class="form-group">
                <p>Current Image:</p>
                <img src="<%= artwork.image %>" alt="<%= artwork.title %>" class="preview-img">
            </div>

            <button type="submit" class="btn-primary">Update Artwork</button>
        </form>

        <hr>

        <!-- Delete Artwork -->
        <form class="delete" action="/artworks/<%= artwork._id %>?_method=DELETE" method="POST" onsubmit="return confirm('Are you sure you want to delete this artwork?');">
            <button type="submit" class="btn-danger">Delete Artwork</button>
        </form>

    </main>

    <%- include('../partials/footer') %>

      
</body>
</html>
