<!DOCTYPE html>
<html>
<head>
  <title><%= user.username %>'s Followers</title>
</head>
<body>
  <h1><%= user.username %>'s Followers</h1>

  <% if (followers.length > 0) { %>
    <ul>
      <% followers.forEach(follower => { %>
        <li>
          <a href="/users/<%= follower._id %>"><%= follower.username %></a>
        </li>
      <% }) %>
    </ul>
  <% } else { %>
    <p>No followers yet.</p>
  <% } %>

  <br>
  <a href="/users/<%= user._id %>">Back to Profile</a>
</body>
</html>
