<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= user.username %>'s Followers | Art Platform</title>
  <link rel="stylesheet" href="/css/style.css">
   <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playwrite+AU+QLD:wght@100..400&display=swap" rel="stylesheet">
</head>
<body class="light">
  <%- include('../partials/navbar') %>

  <main class="container">
    <h1><%= user.username %>'s Followers</h1>

    <% if (followers.length > 0) { %>
      <ul class="user-list">
        <% followers.forEach(follower => { %>
          <li class="user-item">
            <a href="/users/<%= follower._id %>" class="user-link">
              <% if (follower.profilePic) { %>
                <img src="<%= follower.profilePic %>" alt="<%= follower.username %>" class="user-avatar">
              <% } else { %>
                <img src="https://static.vecteezy.com/system/resources/thumbnails/009/292/244/small_2x/default-avatar-icon-of-social-media-user-vector.jpg" alt="Default" class="user-avatar">
              <% } %>
              <span><%= follower.username %></span>
            </a>
          </li>
        <% }) %>
      </ul>
    <% } else { %>
      <p>No followers yet.</p>
    <% } %>

    <a href="/users/<%= user._id %>" class="btn-secondary">⬅ Back to Profile</a>
  </main>

  <%- include('../partials/footer') %>
</body>
</html>
