<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= user.username %>'s Profile
    </title>
</head>

<body>

    <h1>
        <%= user.username %>'s Profile
    </h1>

    <!-- Profile Picture -->
    <% if (user.profilePic) { %>
        <img src="<%= user.profilePic %>" alt="Profile Picture" width="150"><br><br>
        <% } else { %>
            <img src="https://static.vecteezy.com/system/resources/thumbnails/009/292/244/small_2x/default-avatar-icon-of-social-media-user-vector.jpg" alt="Default Picture" width="150"><br><br>
            <% } %>

                <!-- Bio -->
                <p><strong>Bio:</strong>
                    <%= user.bio || "No bio yet." %>
                </p>

                <!-- Followers / Following -->
                <p><strong>Followers:</strong>
                  <a href="/users/<%=user._id%>/followers"><%= user.followers.length %></a>  
                </p>
                <p><strong>Following:</strong>
                  <a href="/users/<%=user._id%>/following"> <%= user.following.length %></a> 
                </p>

     

                 
                <!-- Follow/Unfollow Button -->
                <% if (currentUser._id.toString() !== user._id.toString()) { %> 

                    <% const isFollowing = currentUser.following.some(id=> id.toString()=== user._id.toString()) %>

                    <form action="/users/<%=isFollowing ?'unfollow' : 'follow'%>/<%=user._id%>" method="post">
                        <button type="submit">
                            <%=isFollowing ? 'Unfollow' : 'Follow' %>
                        </button>

                    </form>

                    <%}%>


    
              <!-- Navigation -->
               <a href="/home">Homepage</a> |

              <% if (currentUser._id.toString() === user._id.toString()){ %>

                <!-- Edit profile and logout -->
                <a href="/users/edit-profile">Edit Profile</a> |
                <a href="/auth/logout">Logout</a>
                <br><br>

                <!-- Delete Account -->
                <form action="/users/delete?_method=DELETE" method="POST"
                    onsubmit="return confirm('Are you sure you want to delete your account? ');">
                    <button type="submit" style="color: red;">Delete Account</button>
                </form>

                <%}%>


                <hr>


    

                <!-- Create New Artwork -->
               <% if (currentUser._id.toString() === user._id.toString()) { %>
                 <h2>My Artworks</h2>
                <a href="/artworks/new">Create New Artwork</a>
                <br><br>

                 <!-- My Artworks -->
                <% if (myArtworks && myArtworks.length> 0) { %>
                    <% myArtworks.forEach(artwork=> { %>

                        <p><strong>
                                <%= artwork.title %>
                            </strong></p>

                        <a href="/artworks/<%= artwork._id %>">
                            <img src="<%= artwork.image %>" alt="<%= artwork.title %>" width="200">
                        </a>
                        <br>

                        <!-- Edit and Delete Buttons -->
                        <a href="/artworks/<%= artwork._id %>/edit">Edit</a>

                        <form action="/artworks/<%= artwork._id %>?_method=DELETE" method="POST" style="display:inline;"
                            onsubmit="return confirm('Are you sure by deleting this artwork?')">
                            <button type="submit">Delete</button>
                        </form>
                        <hr>
                        <% }) %>
                            <% } else { %>
                                <p>You haven't uploaded any artworks yet.</p>
                                <a href="/artworks/new">Upload your first artwork</a>
                                <% } %>

                                
                <% } else { %>
                     <h2><%= user.username %>'s Artworks</h2>

                     <% if (myArtworks && myArtworks.length > 0) { %>
                     <% myArtworks.forEach(artwork => { %>
                      <p><strong><%= artwork.title %></strong></p>
                      <a href="/artworks/<%= artwork._id %>">
                       <img src="<%= artwork.image %>" alt="<%= artwork.title %>" width="200">
                         </a>
                         <br><hr>
                              <% }) %>
                           <% } else { %>
                           <p><%= user.username %> hasn’t uploaded any artworks yet.</p>
                         <% } %>

  <% } %>
        
                    

               

               
</body>

</html>