<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= user.username %>'s Profile</title>
</head>
<body>
    <h1><%= user.username %>'s Profile</h1>

    <img src="<%=user.profilePic%>" alt="Profile Picture" width="150"><br><br>
    <p><strong>Email:</strong><%= user.email%></p>
    <p><strong>Bio:</strong><%= user.bio || "No bio yet."%></p>
    <p><strong>Followers</strong><%= user.followers.length%></p>
    <p><strong>Following</strong><%= user.following.length %></p>


    <hr>

  <a href="/home">Homepage</a> |
  <a href="/users/edit-profile">Edit Profile</a> |
  <a href="/auth/logout">Logout</a>

  <hr>

   
  <form action="/users/delete?_method=DELETE" method="POST" onsubmit="return confirm('Are you sure you want to delete your account? This cannot be undone.');">
  <button type="submit" style="color: red;">Delete Account</button>
</form>



</body>
</html>